.header {
  margin: 40px;
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
}

.project {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--black);
}

.project-item {
  margin: 30px 0;
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
}

.project-item h3 {
  margin: 0 0 10px;
}

.contributors,
.reviewers {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.contributor, .reviewer {
  display: flex;
  box-sizing: border-box;
  flex: 0 0 25%;
  padding: 10px;
}

.contributor:nth-child(-n + 4), .reviewer:nth-child(-n + 4) {
  color: lightgreen;
  font-size: 16px;
}

.contributor .name, .reviewer .name {
  display: flex;
}

.contributor .name img {
  border-radius: 3px;
  max-height: 50px;
  margin: 0 15px 0 0;
}

.reviewer .name img {
  border-radius: 3px;
  max-height: 20px;
  margin: 0 15px 0 0;
}

.contributor .stats {
  font-size: 12px;
}

.top-developers,
.top-reviewers {
    padding: 20px;
  border-radius: 5px;
  background-color: var(--black);
}

.top-list {
  display: flex;
  flex-wrap: wrap;
}

.top-list-item {
  display: flex;
  padding: 5px 10px;
      align-items: center;
  flex: 0 0 25%;
  box-sizing: border-box;
}

.top-list-item:nth-child(-n + 8) {
  color: lightgreen;
  font-size: 16px;
}

.top-list img {
  max-width: 30px;
  margin-right: 15px;
}

.top-list-item span {
  display: inline-block;
  height: 100%;
}

.global-stats {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.global-stats div {
  display: flex;
  gap: 5px;
}