.selector {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.selector span,
.selector input {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
