:root {
  --black: rgba(25, 25, 25, 0.5);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 40px;
  font-size: 14px;
}

a {
  color: rgb(0, 204, 255);
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  display: block;

}

.menu li a {
  border: solid 1px black;
  border-radius: 5px;
  display: block;
  padding: 6px 12px;
  background-color: grey;
  color: black;
  font-weight: bold;
  max-width: 250px;
  transition: all 200ms;
}

.menu li a:hover {
  background-color: white;
}